.header h2,
.login span.un,
h3 {
    text-align: center
}
.btn,
.text {
    outline: 0;
    font-family: 'Source Sans Pro', sans-serif
}
.btn,
.text,
body {
    font-family: 'Source Sans Pro', sans-serif
}
* {
    margin: 0;
    padding: 0
}
body {
    background: #294072
}
h3 {
    margin-top: 80px;
    text-transform: uppercase;
    color: #0C6;
    font-size: 45px
}
.form {
    width: 400px;
    margin: 50px auto 0;
    background: #1C2B4A
}
.header {
    height: 44px;
    background: #17233B
}
.header h2 {
    height: 44px;
    line-height: 44px;
    color: #fff
}
.btn,
ul li {
    height: 40px
}
.login {
    padding: 0 20px
}
.login span.un {
    width: 10%;
    color: #0C6;
    border-radius: 3px 0 0 3px
}
.text {
    width: 90%;
    border-radius: 0 3px 3px 0;
    border: none;
    color: #999
}
.btn,
.span {
    width: 100%
}
.login span.un,
.text {
    display: inline-block;
    vertical-align: top;
    height: 40px;
    line-height: 40px;
    background: #12192C
}
.btn {
    border: none;
    background: #0C6;
    font-size: 20px;
    font-weight: 700;
    color: #eee;
    border-bottom: solid 3px #093;
    border-radius: 3px;
    cursor: pointer
}
.ch,
.ch a {
    color: #CCC
}
ul li {
    margin: 15px 0;
    list-style: none
}
.span {
    display: table;
    font-size: 14px
}
.ch {
    display: inline-block;
    width: 50%
}
.ch a {
    text-decoration: none
}
.ch:nth-child(2) {
    text-align: right
}
gin_message {
    color: red
}
@media(max-width:480px) {
    .form {
        width: 100%
    }
}
.un .fa {
    margin-top: 2%;
}
.forgot_pass
{
    text-align:center;
}